<div>
<app-carte 
  [latitude]="latitude()"
  [longitude]="longitude()"
  [ville]="villeSelectionnee"
  [restaurantLatitude]="restaurantLatitude()"
  [restaurantLongitude]="restaurantLongitude()"
  [restaurants]="restaurants()"
  (restaurantSelectionne)="selectionnerRestaurant($event)">
  </app-carte>


<!-- <button (click)="villeRecherchee.emit('Lyon')">
  Rechercher Lyon
</button> -->



<input
  type="text"
  [(ngModel)]="villeSelectionnee"
  placeholder="Rechercher une ville"
>

<button (click)="chercher()">
  Rechercher
</button>

@if (restaurantSelectionne) {
  <div>
    <h2>Restaurant sélectionné</h2>

    <p>{{ restaurantSelectionne.name }}</p>
    <p>{{ restaurantSelectionne.display_name }}</p>
  </div>
}

</div>



